@use "../../index" as *;

.about {
  width: 100%;
  height: 100%;

  .about-background {
    background-image: url("../../assets/images/meat.jpg");
    width: 100%;
    height: 50%;
    padding: 7rem;
    border-radius: 1rem;
    margin-top: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(1.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem;
    @include mobile {
      padding: 2rem;
    }

    .abou-info {
      background-color: rgba(0, 0, 0, 0.56);
      color: var(--text-color-light);
      padding: 2rem;
      border-radius: 1rem;
      text-align: center;
      align-items: center;
      width: fit-content;
      @include mobile {
        padding: 1rem;
      }
      h1 {
        font-size: 2rem;
        font-weight: 700;
        @include mobile {
          font-size: 1.5rem;
        }
      }
      p {
        font-size: 1.1rem;
      }
    }
    .about-button {
      background-color: #000111;
      color: var(--text-color-light);
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      font-weight: 600;
      border-radius: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;


      .arrow {
        background-color: rgba(216, 216, 216, 0.58);
        border-radius: 1rem;
        padding: 0 0.3rem;
        [dir="rtl"] & {
          transform: rotate(180deg);
        }

        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
  .info-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 2rem;
    margin-top: 2rem;

    .card {
      background-color: #f8f9fa;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
      padding: 2rem;
      border-radius: 1rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 0.5rem;
      width: 20%;
      transition: all 0.3s ease;
      @include mobile {
        width: 40%;
      }


      &:hover {
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
        transform: translateY(-5px);
      }

      p {
        font-weight: 700;
        font-size: 1.5rem;
      }
      h2 {
        font-size: 1.2rem;
        font-weight: 600;
        @include mobile {
          font-size: 1rem;
        }
      }
    }
  }

  .about-info {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    padding: 0 6rem;
    @include mobile {
      flex-direction: column;
      padding: 0 2rem;
    }
    @include tablet {
      flex-direction: column;
      gap: 2rem;
    }

    .about-img {
      flex: 0.5;
      width: 500px;
      min-height: 500px;
      position: relative;
      @include mobile {
        width: 100%;
      }

      img {
        width: 70%;
        height: 400px;
        border-radius: 2rem;
        object-fit: cover;

      }
      .xxx {
        position: absolute;
        top: 5rem;
        left: 10rem;
        @include mobile {
          left: 7rem;
        }
      }
    }
    .about-content {
      flex: 1;

      h1 {
        font-family: "Yellowtail", cursive;
        font-size: 1.2rem;
        margin-bottom: 3rem;
        color: rgba(0, 0, 0, 0.82);
      }
      p {
        font-size: 1.1rem;
        padding-bottom: 1rem;
      }
      .location {
        display: flex;
        gap: 0.5rem;
        margin-top: 1rem;

        img {
          width: 25px;
          height: 25px;
        }

        p {
          font-size: 1.1rem;
        }
      }

      .about-btn {
        margin-top: 1rem;
        padding: 0.3rem 1rem;
        border: 1px solid #000111;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        font-size: 1.1rem;
        font-weight: 600;
        border-radius: 1rem;
      }
    }
  }
  .about-team {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @include mobile {
      text-align: center;
    }
    @include tablet {
      text-align: center;
    }


    h1 {
      font-size: 2rem;
      font-weight: 700;
    }
    p {
      font-size: 1.1rem;
    }

    .team-container {
      display: flex;
      align-items: center;
      text-align: center;
      gap: 2rem;
      flex-wrap: wrap;
      @include mobile {
        justify-content: center;
      }
      @include tablet {
        justify-content: center;
      }

      .team-card {
        display: flex;
        flex-direction: column;
        padding-top: 1.5rem;
        position: relative;
        transition: 0.3s ease;

        &:hover {
          transform: translateY(-8px);
        }

        img {
          width: 300px;
          height: 350px;
          object-fit: cover;
          border-radius: 3rem;
        }
        .card-info {
          position: absolute;
          bottom: 0;
          background-color: rgba(255, 255, 255, 0.56);
          border-radius: 2rem;
          width: 100%;
          h3 {
            font-size: 1.2rem;
            font-weight: 600;
          }
          p {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

//Dark Mode
body.dark {
  .about {
    .info-cards {
      .card {
        background-color: #2C254A;
        box-shadow: 0 4px 15px rgba(101, 92, 92, 0.16);
      }
    }
    .about-info {
      .about-content {
        h1 {
          color: rgba(255, 255, 255, 0.82);
        }
        .location {
          img {
            filter: invert(1);
          }
        }
        .about-btn {
          border: 1px solid #fff;
          box-shadow: 0 4px 15px rgba(71, 71, 71, 0.3);
        }
      }
    }
    .team-container {
      .team-card {
        .card-info {
          background-color: rgba(26, 23, 45, 0.55);
        }
      }
    }
  }
}