@use "../../index" as *;

.consultation-request {
  padding-top: 1rem;
  .consultation-request-title {
    background-color: rgba(227, 227, 227, 0.9);
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    border-radius: 1rem;

    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      @include  mobile {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
    p {
      font-size: 1.5rem;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.78);
      width: 45%;
      text-align: center;
      @include  mobile {
        font-size: 1.2rem;
        width: 100%;
      }
    }
  }

  .consultation-request-form {
    padding-top: 3rem;

    .form-container {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      padding: 1.5rem 1rem;
      border: 1px solid rgba(177, 177, 177, 0.34);
      border-radius: 1rem;
      width: 100%;
      max-width: 900px;
      margin: 0 auto;
      background-color: rgb(255, 255, 255);
      box-shadow:
              0 20px 40px rgba(0, 0, 0, 0.08),
              0 8px 16px rgba(0, 0, 0, 0.05);
      @include mobile {
        padding: 1rem;
        max-width: 100%;
      }

      .consulting-name-email {
        .input-email-name {
          display: flex;
          gap: 1rem;

          @include mobile {
            flex-direction: column;
            width: 100%;
          }
        }
      }

      .consultation-type-priority {
        display: flex;
        gap: 1rem;
        @include mobile {
          flex-direction: column;
          width: 100%;
        }

        .consulting-type {
          width: 50%;
          @include mobile {
            width: 100%;
          }
        }

        .priority-level {
          width: 50%;
          @include mobile {
            width: 100%;
          }
        }
      }

      .consultation-description {
        width: 100%;
      }

      .attachments {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        align-items: center;
        .file-dropzone {
          width: 450px;
          .dropzone {
             @include mobile {
               width: 100%;
             }
          }
        }
      }

      .btn-request-consulting {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        background-color: #0A3D62;
        color: #fff;
        border-radius: 1rem;
        font-size: 1.1rem;
        font-weight: 600;
        transition: all 0.3s ease;

        img {
          width: 20px;
          height: 20px;
          filter: invert(1);
        }
      }
    }
  }
}


body.dark {
  .consultation-request {
    .consultation-request-title {
      background-color: #2C254A;
      h1 {
        color: #fff;
      }
      p {
        color: rgba(255, 255, 255, 0.83);
      }
    }
    .consultation-request-form {
      .form-container {
        background-color: #1f1b3a;
        border: 1px solid rgba(255, 255, 255, 0.34);
        box-shadow: 0 4px 15px rgba(101, 92, 92, 0.16);
        .consulting-name-email {
          .input-email-name {
            span {}
          }
        }
        .input-email-name {
          .MuiOutlinedInput-root {
            color: #000000;
            background-color: #cac0c0;

          }
        }

        .consultation-type-priority {
          .consulting-type {
            .select-consulting-type {
              background-color: #cac0c0;
            }
          }

          .priority-level {
            .select-priority-level {
              background-color: #cac0c0;
            }
          }
        }

        .consultation-description {
          .MuiOutlinedInput-root {
            background-color: #cac0c0;
          }
        }
        .attachments {
          .MuiOutlinedInput-root {
             background-color: #cac0c0;
           }
        }

        .btn-request-consulting {
          background-color: var(--background-button-dark);
        }
      }
    }
  }
}