@use "../../index" as *;

.footer {
  margin-top: 5rem;
  .footer-content {
    display: flex;
    justify-content: space-between;
    background-color: rgba(200, 198, 198, 0.78);
    padding: 3rem 5rem;
    border-radius: 1rem 1rem 0 0;

    @include mobile {
      flex-direction: column;
      padding: 1rem;
      gap: 1rem;
    }

    .footer-logo {
      width: 25%;
      display: flex;
      justify-content: start;
      gap: 1rem;
      flex-direction: column;
      @include mobile {
        width: 100%;
      }
      .images {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 0.1rem;

        img {
          width: 40px;
          height: 40px;
        }
        h3 {
          font-size: 1.1rem;
          font-weight: 600;
          line-height: 1.3;
        }
      }
    .footer-para {
      font-size: 1.1rem;
      color: rgba(0, 0, 0, 0.87);
    }
    .footer-button {
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
      padding: 0.5rem 1rem;
      width: fit-content;
      font-size: 1.1rem;
      font-weight: 600;
      border-radius: 1rem;
    }
    }

    .footer-links {
      //flex: 0.5;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h3 {
        font-size: 1.3rem;
        font-weight: 600;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        @include mobile {
          flex-direction: row;
          justify-content: space-between;
        }
        li {
          font-size: 1rem;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.8);
        }
      }
    }

    .footer-contact {
      //flex: 0.5;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      h3 {
        font-size: 1.3rem;
        font-weight: 600;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        li {
          display: flex;
          align-items: center;
          text-align: center;
          gap: 0.3rem;
          img {
            width: 20px;
            height: 20px;
          }
          span {
            font-size: 1rem;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.8);
          }
        }
      }
    }

    .footer-connect {
      //flex: 0.5;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      h3 {
        font-size: 1.3rem;
        font-weight: 600;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @include mobile {
          flex-direction: row;
          justify-content: space-between;
        }

        li {
          display: flex;
          align-items: center;
          text-align: center;
          gap: 0.3rem;
         a {
           display: flex;
         }
          img {
            width: 25px;
            height: 25px;
          }
          span {
            font-size: 1rem;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.8);
          }
        }
      }
    }
  }

  .all-right {
     background-color: rgba(143, 142, 145, 0.8);
     height: 3rem;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 0rem 0rem 1rem 1rem;

    h2 {
      font-size: 1rem;
      font-weight: 600;
    }
  }
}

//Dark Mode
body.dark {
  .footer {
    .footer-content {
      background-color: #2C254A;
      .footer-logo {
        .images {
          img {
            filter: invert(1);
          }
        }
        .footer-para {
          color: rgba(255, 255, 255, 0.85);
        }
        .footer-button {
          background-color: #0A3D62;
        }
      }
    }
    .footer-links {
      li {
        color: rgba(255, 255, 255, 0.85);
      }
    }
    .footer-contact {
      li {
        img {
          filter: invert(1);
        }
        span {
          color: rgba(255, 255, 255, 0.85);
        }
      }
    }
    .footer-connect {
      li {
        img {
          filter: invert(1);
        }
        span {
          color: rgba(255, 255, 255, 0.85);
        }
      }
    }
  }

  .all-right {
    background-color: #16406a;
  }
}