.nav-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0.5rem;
  border-radius: 1rem;

  .nav-item-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(197, 195, 195, 0.24);

    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
    }

    h3 {
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 1.2rem;
      text-align: center;
    }
  }

  .container-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;


    .sidebar {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      border-radius: 1rem;


      .nav-item {
        padding: 1rem 2rem;
        border-radius: 1rem;
        transition: background-color 0.2s ease, transform 0.2s ease;


        // Hover = Active
        &:hover,
        &.active {
          background-color: #2563eb; // primary
          color: #ffffff;
          transform: translateX(4px);

        }

        h1 {
          font-size: 1.1rem;
          font-weight: 400;
        }
      }
    }

    .nav-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1rem 0.5rem;
      display: flex;
      gap: 0.5rem;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
      }
      span {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-weight: bold;
        font-size: 1.1rem;
        background-color: rgba(3, 34, 41, 0.73);
        color: #ffffff;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
      }
      article {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        h2 {
          font-size: 1rem;
          font-weight: 500;
        }
        p {
          font-size: 0.9rem;
          font-weight: 400;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

  }
}