@use "../../index" as *;

.signInPage {
  background-image: url("/assets/images/background-signin.jpg");
  width: 100%;
  height: 97.8vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0.5rem 1rem;
  border-radius: 1rem;

  .signIn-logo {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    justify-content: flex-start;
    cursor: pointer;
    position: absolute;
    z-index: 999;

    img {
      width: 45px;
      height: 45px;
      transition: all 0.3s ease;
    }
    h3 {
      font-weight: 700;
      text-align: center;
      font-size: 1.1rem;
      line-height: 1.3;
      color: #000111;


    }
  }

  .signIn-form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    transform: translate(0 ,0%);

    .signIn-content {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      gap: 1rem;
      padding: 2rem;
      border-radius: 1rem;
      width: 30%;
      background: linear-gradient(
                      to bottom,
                      rgba(135, 206, 250, 0.35),   /* سماوي فاتح من فوق */
                      rgba(255, 255, 255, 0.9)     /* أبيض ناعم تحت */
      );
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);
      box-shadow: 0 4px 25px rgba(0,0,0,0.1);

      @include mobile{
        width: 95%;
      }
      @include tablet{
        width: 60%;
      }
      .image {
        background-color: #ffffff;
        padding: 0.5rem;
        border-radius: 1rem;
        box-shadow: 0 4px 25px rgba(0, 0, 0, 0.55);
        img {
          width: 35px;
          height: 35px;
        }
      }
      .text {
        h1 {
          font-size: 1.3rem;
          font-weight: 600;
          color: rgba(0, 0, 0, 0.82);
        }
        p {
          font-size: 1rem;
          font-weight: 500;
          color: rgba(0, 1, 17, 0.71);
        }
      }
      .signIn-form-content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;

        input {
          width: 100%;
          padding: 0.5rem 1rem;
          border-radius: 0.7rem;
          background-color: rgba(237, 236, 236, 0.76);
          color: rgba(0, 0, 0, 0.67);
          outline: none;

          &::placeholder {
            color: rgba(0, 0, 0, 0.67);
            font-weight: 500;
          }
        }
        button {
          background-color: #000111;
          color: var(--text-color-light);
          padding: 0.5rem 1rem;
          font-size: 1.2rem;
          font-weight: 500;
          border-radius: 1rem;
          margin-top: 1rem;
        }
      }
      .divider {
        span {
          color: rgba(0, 0, 0, 0.67);
          font-weight: 500;
          font-size: 1rem;
          padding: 0 0.5rem;
        }
      }

      .signIn-social {
        width: 100%;
        .signIn-google {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          background-color: #ffffff;
          color: #000111;
          padding: 0.5rem;
          border-radius: 1rem;
          width: 100%;
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.51);

          img {
            width: 25px;
            height: 25px;
          }
        }
      }
    }

  }
}