@use "../../../../index" as *;

.modal-overlay {
  position: fixed;
  transform: translate(9%, 0%);
  inset: 0;
  width:  100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.13);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

  @include mobile {
    transform: translate(0%, 0%);
    padding: 0.5rem;
  }
}

.modal-content {
  background: #fff;
  width: 70%;
  height: 600px;
  overflow-y: auto;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 30px 60px rgba(0,0,0,0.3);
  scroll-behavior: smooth;
  position: relative;
  z-index: 9999;
  @include mobile {
    width: 100%;
    height: 70%;
  }

  .consulting-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(144, 144, 144, 0.18);
    padding-bottom: 0.5rem;

    h2 {
      font-size: 1.1rem;
      font-weight: 600;
    }
    .close-btn {
      background-color: rgba(144, 144, 144, 0.42);
      border-radius: 50%;
      padding: 5px;
      img {
        width: 25px;
        height: 25px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .consulting-info {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    .consulting-info-name {
      display: flex;
      align-items: center;
      gap: 0.3rem;

      img {
        width: 30px;
        height: 30px;
        object-fit: contain;
        border-radius: 50%;
        background-color: rgba(144, 144, 144, 0.24);
        padding: 2px;
        border: 1px solid rgba(144, 144, 144, 0.24);
      }
      h3 {
        font-size: 1rem;
        font-weight: 600;
      }
    }
    .consulting-info-date {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      img {
        width: 25px;
        height: 25px;
        object-fit: contain;
      }
      p {
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.85);
      }
    }

    .consulting-info-priority {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      img {
        width: 25px;
        height: 25px;
        object-fit: contain;
        border-radius: 50%;
        background-color: rgba(144, 144, 144, 0.24);
        padding: 2px;
        border: 1px solid rgba(144, 144, 144, 0.24);
      }
      p {
        font-size: 1.1rem;
        color: rgba(0, 0, 0, 0.85);
      }
    }
    .consulting-info-country {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      img {
        width: 25px;
        height: 25px;
        object-fit: contain;
        border-radius: 50%;
        background-color: rgba(144, 144, 144, 0.24);
        padding: 2px;
        border: 1px solid rgba(144, 144, 144, 0.24);
      }
      p {
        font-size: 1.1rem;
        color: rgba(0, 0, 0, 0.85);
      }
    }
  }
  .consulting-desc-type {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-top: 2rem;
    flex-wrap: wrap;
    @include mobile {
      gap: 1rem;
    }
    .consulting-desc {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      width: 65%;

      @include mobile {
        width: 100%;
      }
      h3 {
        font-size: 1rem;
        font-weight: 600;
      }
      p {
        font-size: 1.1rem;
        padding: 0.5rem;
        border-radius: 10px;
        box-shadow: 0 8px 18px rgba(0, 0, 0, 0.10);
        height: 100px;
        overflow-y: auto;
        border: 1px solid rgba(144, 144, 144, 0.24);
      }
    }
    .consulting-type {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      width: 30%;
      @include mobile {
        width: 100%;
      }
      h3 {
        font-size: 1rem;
        font-weight: 600;
      }
      p {
        font-size: 1.1rem;
        padding: 0.5rem;
        border-radius: 10px;
        box-shadow: 0 8px 18px rgba(0, 0, 0, 0.10);
        border: 1px solid rgba(144, 144, 144, 0.24);
      }
    }
  }

  .consulting-attachment {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-top: 2rem;
    flex-wrap: wrap;

    .attachment {
      width: 50%;
      height: 300px;
      background-color: rgba(255, 255, 255, 0.24);
      padding: 1rem;
      border-radius: 1rem;
      box-shadow: 0 8px 18px rgba(0, 0, 0, 0.10);
      border: 1px solid rgba(144, 144, 144, 0.24);

      @include mobile {
        width: 100%;
        height: 200px;
      }


      a {
        display: flex;
        justify-content: center;
        .img-pdf {
          width: 50%;
          height: 50%;
          object-fit: cover;
          transition: all 0.3s ease;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      .img-attachment {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .consulting-reply {
      flex: 1;
      //background-color: rgba(202, 192, 192, 0.85);
      padding: 1rem;
      border-radius: 1rem;
      box-shadow: 0 8px 18px rgba(0, 0, 0, 0.10);
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      border: 1px solid rgba(144, 144, 144, 0.24);

      h3 {
        font-size: 1rem;
        font-weight: 600;
      }
      textarea {
        width: 100%;
        height: 190px;
        padding: 0.5rem;
        border-radius: 10px;
        box-shadow: 0 8px 18px rgb(197, 195, 195);
        outline: none;
        border: 1px solid rgba(144, 144, 144, 0.24);
        background-color: transparent;
      }
      button {
        padding: 0.5rem 1rem;
        background-color: #000000;
        color: #ffffff;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 0.5rem;

        img {
          width: 20px;
          height: 20px;
          object-fit: contain;
          filter: invert(1);
        }
      }
    }
  }
}

