/* استيراد ستايلات Syncfusion */
@import "@syncfusion/ej2-base/styles/material.css";
@import "@syncfusion/ej2-react-buttons/styles/material.css";
@import "@syncfusion/ej2-react-grids/styles/material.css";
@import "@syncfusion/ej2-react-navigations/styles/material.css";
@import "@syncfusion/ej2-react-splitbuttons/styles/material.css";
@import "@syncfusion/ej2-react-dropdowns/styles/material.css";