@use "../../index" as *;

.hero-section-2 {
  width: 100%;
  height: auto;
  margin-top: 5rem;

  .p-hightlighter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    p {
      font-size: 1.3rem;
      font-weight: 600;

      @include mobile {
        font-size: 1.1rem;
        font-weight: 500;
      }
      @include tablet {
        font-size: 1.2rem;
      }
    }
  }

  .title-marquee {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      animation: marquee 15s linear infinite;
      transition: 0.5s ease-in-out;


      li {
        font-size: 1.1rem;
        font-weight: 600;
        border: 1px solid #cccccc;
        padding: 0.2rem 0.5rem;
        border-radius: 1rem;
        background-color: rgba(144, 144, 144, 0.24);
        white-space: nowrap;
        transition: 0.5s ease-in-out;
        cursor: all-scroll;

        @include mobile {
          font-size: 1rem;
        }

        &:hover {
          background-color: rgba(101, 99, 96, 0.4);
          transform: scale(1.1) rotate(var(--angle));
        }

      }
      &:hover {
        animation-play-state: paused;
        transition: all 1s ease-out;
        filter: brightness(1.1);
      }
    }

      @keyframes marquee {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-100%);
        }
      }
  }

  //Who Are You & What we do
  .who-we-do {
    margin-top: 4rem;
    padding: 0 2rem;
    @include mobile {
      padding: 0 0.5rem;
    }
    .text {
      //text-align: center;
      h1 {
        font-size: 1.7rem;
        font-weight: 700;
        @include mobile {
          font-weight: 700;
          font-size: 1.3rem;
        }
      }
    }

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      margin-top: 2rem;
      @include mobile {
        flex-direction: column;
        gap: 1rem;
      }
      @include tablet {
        flex-direction: column;
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: 0.7;

        .who {
          h2 {
            font-size: 1.3rem;
            font-weight: 700;
            @include mobile {
              font-size: 1.1rem;
            }
          }
          p {
            font-size: 1.1rem;
            color: rgba(0, 0, 0, 0.9);
            @include mobile {
              font-size: 1rem;
            }
          }
        }
        .button {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.3rem;
          background-color: #0A3D62;
          color: var(--text-color-light);
          padding: 0.5rem;
          width: fit-content;
          border-radius: 1rem;
          font-size: 1.1rem;
          font-weight: 600;
          transition: all 0.3s ease-in-out;
          margin-top: 1rem;
          @include mobile {
            font-size: 1rem;
            padding: 0.3rem;
          }

          .arrow {
            background-color:rgba(216, 216, 216, 0.58);
            border-radius: 1rem;
            padding: 0 0.3rem;

          img {
            width: 30px;
            height: 30px;
            @include mobile {
              width: 25px;
              height: 25px;
            }
            [dir="rtl"] & {
              transform: rotate(180deg);
            }
          }
          }
          &:hover {
            transform: translateX(0.3rem);
          }
        }
      }

      .image {
        flex: 0.5;
        position: relative;


        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 1rem 1rem 1rem 15rem;
          display: block;
        }
        .mini-box {
          position: absolute;
          bottom: 3%;
          left: 5%;
          width: 30%;
          background: #0A3D62;
          color: var(--text-color-light);
          padding: 1rem 1rem;
          border-radius: 0.75rem;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.44);
          font-weight: 500;
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 0.5rem;
          font-size: 1.2rem;
          @include mobile {
            width: 40%;
            font-size: 1rem;
          }
          @include tablet {
            width: 30%;
            font-size: 1.8rem;
          }

          span {
            font-size: 2rem;
            font-weight: 700;
            color: #CD05FF;
            @include mobile {
              font-size: 1.5em;
            }
            @include tablet {
              font-size: 2.5rem;
            }
          }
        }
      }

    }
  }
  //Team Section
  .team-section {
    position: relative;
    background: rgba(200, 198, 198, 0.78);
    border-radius: 2rem;
    padding: 3rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include mobile {
      padding: 5rem 1rem 1rem 1rem;
    }


    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 330px;
      height: 60px;
      background: #f8f8f8;
      border-bottom-left-radius: 250px;
      border-bottom-right-radius: 250px;

      @include mobile {
        width: 300px;
        height: 50px;
      }
    }

    .top-button {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -0%);
      background: rgba(0, 0, 0, 0.76);
      color: #fff;
      padding: 0.8rem 2rem;
      border-radius: 2rem;
      font-size: 0.9rem;
      font-weight: 600;

      @include mobile {
        padding: 0.5rem 1rem;
        font-weight: 500;
        width: 250px;
        height: 40px;
      }
    }
    .team-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include mobile {
        flex-direction: column;
      }

      @include tablet {
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }

      .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @include tablet {
          padding-top: 2rem;
        }

        h2 {
          font-size: 2rem;
          font-weight: 700;
          @include mobile {
            font-size: 1.5rem;
            font-weight: 600;
          }
        }
        p {
          font-size: 1.2rem;
          color: rgba(0, 0, 0, 0.63);
        }
        .stats{
          display: flex;
          gap: 2rem;
          @include tablet {
            justify-content: center;
          }

          .btn-team {
            display: flex;
            flex-direction: column;
            align-items: center;
            .strong {
              font-size: 1.5rem;
              font-weight: 700;
              @include mobile {
                font-size: 1.3rem;
              }
            }
            span {
              font-size: 1.1rem;
              font-weight: 600;
              @include mobile {
                font-size: 1rem;
              }
            }
          }
        }

        .button-team {
          display: flex;
          gap: 2rem;
          padding-top: 1rem;
          @include tablet {
            justify-content: center;
            padding-bottom: 1rem;
          }

          .btnx-1 {
            background-color: rgba(0, 0, 0, 0.7);
            color: #ffffff;
            padding: 0.2rem 1rem;
            border-radius: 1rem;
            font-size: 1.1rem;
            font-weight: 600;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            transition: box-shadow 0.3s ease;
            &:hover {
              box-shadow: 0 8px 15px rgba(0, 0, 0, 0.8);
            }
          }
          .btnx-2 {
            border: 1px solid #9f9d9d;
            border-radius: 1rem;
            padding: 0.2rem 1rem;
            font-size: 1.1rem;
            font-weight: 600;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            transition: box-shadow 0.3s ease;

            &:hover {
              box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
            }
          }
        }
      }
      .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @include mobile {
          padding-top: 2rem;
        }

        h2 {
          font-size: 2rem;
          font-weight: 600;
          @include mobile {
            font-size: 1.5rem;
            font-weight: 600;
          }
        }
        p {
          color: rgba(0, 0, 0, 0.63);
          font-size: 1.1rem;
          padding-right: 1rem;
        }
      }
      .team-imge {
        width: 30%;
        height: 100%;
        @include mobile {
          width: 100%;
          padding-top: 2rem;
        }
        @include tablet {
          width: 80%;
          padding-top: 2rem;
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 1rem;
        }
      }
    }
  }
}


//Dark Mode
body.dark {
  .hero-section-2 {
    .title-marquee {
      li {
        background-color: transparent;
        border: 1px solid rgba(113, 109, 109, 0.98);
      }
    }
    .content {
    .info {
      .who {
        p {
          color: #ffffff;
        }
      }
    }
    }
    .team-section {
      background: #2C254A;

      &::before {
        background: #1a172d;
      }
      .top-button {
        background-color: #3b346a;
      }
      .team-content {
        .left {
          p {
            color: #dfdede;
          }
          .button-team {
            .btnx-1 {
              background-color: #0A3D62;
            }
          }
        }
        .right {
          p {
            color: #dfdede;
          }
        }
      }
    }
  }
}