@use "../../index" as *;

.client-feedback {
  margin-top: 5rem;
  padding: 0 3rem;
  align-items: center;

  @include mobile {
    padding: 0 1rem;
  }
  @include tablet {
    padding: 0 1rem;
  }

  .title-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    h2 {
      font-size: 2rem;
      font-weight: 700;
    }
    p {
      font-size: 1.1rem;
      color: rgba(0, 0, 0, 0.68);
    }
  }
  .feedback-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1.5rem;

    @include mobile {
      flex-direction: column;
    }
    @include tablet {
      gap: 1rem;
    }

    .feedback-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
      background-color: rgba(200, 198, 198, 0.78);
      padding: 1rem;
      border-radius: 1rem;
      width: 35%;
      min-height: 300px;
      box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.30);

      @include mobile {
        width: 100%;
      }

      @include tablet {
        width: 50%;
        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.30);

      }

      p {
        font-size: 1.1rem;
      }
      .client-info {
        display: flex;
        gap: 1rem;


        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
          image-rendering: crisp-edges;
          filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
        }
        h4 {
          font-size: 1.2rem;
          font-weight: 600;
        }
        span {
          font-size: 1.1rem;
          color: rgba(0, 0, 0, 0.79);
        }
      }
    }
  }
}

//Dark Mode
body.dark {
  .client-feedback {
    p {
      color: #cccccc;
    }
    .feedback-cards {
      .feedback-card {
        background-color: #2C254A;
        .client-info {
          span {
            color: rgba(204, 204, 204, 0.77);
          }
        }
      }
    }
  }
}