@use "../../index" as *;

.contact {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  @include mobile {
    padding: 1rem;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3 {
      font-size: 1.2rem;
      color: blue;
      font-family: "Yellowtail", cursive;
    }
    h1 {
      font-size: 2rem;
      font-weight: 700;

      @include mobile {
        font-size: 1.5rem;
      }
    }
    .contact-text {
      p {
        font-size: 1.1rem;
      }
    }
  }

  .contact-content {
    display: flex;
    justify-content: center;
    //align-items: center;
    gap: 5rem;

    @include mobile {
      flex-direction: column;
      gap: 1rem;
    }
    @include tablet {
      flex-direction: column;
      gap: 2rem;
    }

    .contact-form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 40%;
      @include mobile {
        width: 100%;
      }
      @include tablet {
        width: 100%;
      }

      .form-contact {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: rgba(204, 204, 204, 0.34);
        padding: 1.5rem;
        border-radius: 1rem;

         h2 {
           font-size: 1.3rem;
           font-weight: 600;
         }
        label {
          display: flex;
          flex-direction: column;
          //gap: 0.2rem;

          span {
            font-size: 1.1rem;
            font-weight: 600;
          }
          input,textarea {
            padding: 0.7rem 0.5rem;
            border-radius: 0.5rem;
            border: 1px solid rgba(163, 157, 157, 0.55);
            &::placeholder {
              font-size: 1.1rem;
            }
          }
        }
        .btn-contact {
          padding: 0.5rem 1rem;
          background-color: #0A3D62;
          color: #fff;
          border-radius: 1rem;
          font-size: 1.1rem;
          font-weight: 600;
          margin-top: 1rem;
        }
      }
    }

    .contact-map {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 50%;
      @include mobile {
        width: 100%;
      }
      @include tablet {
        width: 100%;
      }

      .info-contact {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h2 {
          font-size: 1.2rem;
          font-weight: 600;
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          text-align: center;
          li {
            display: flex;
            text-align: center;
            align-items: center;
            gap: 0.3rem;
            img {
              width: 20px;
              height: 20px;
            }
            h5 {
              font-size: 1.01rem;
              font-weight: 600;
              color: rgba(2, 2, 2, 0.64);
            }
          }
        }
      }
      .map-contact {
        border-radius: 1rem;
      }
    }

  }
}

//Dark Mode
body.dark {
  .contact {
    .contact-content {
      .form-contact {
        background-color: rgba(24, 24, 71, 0.22);
        span {
          color: rgba(255, 255, 255, 0.83);
        }
        input,textarea {
          background-color: #1f1b3a;
        }
      }
    }
    .contact-map {
      .info-contact {
        ul {
          li {
            img {
              filter: invert(1);
            }
            h5 {
              color: rgba(255, 255, 255, 0.83);
            }
          }
        }
      }
    }

  }
}