@use "../../../app/app" as *;

.hero-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 2rem;

  @include mobile {
    flex-direction: column;
    padding: 0 0.5rem;
  }

  @include tablet {
    flex-direction: column;
    padding: 0 0.5rem;
  }
  .hero-section_content {
    display: flex;
    flex-direction: column;
    width: 60%;

    @include mobile {
      width: 100%;
    }

    @include tablet {
      width: 100%;
    }
    .title {
      margin-bottom: 0.5rem;
      font-size: 1.7rem;
      font-weight: bold;
      width: 90%;

      @include mobile {
        width: 100%;
        font-size: 1.1rem;
        font-weight: 600;
      }
    }

    .images-small {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      position: relative;

      img {
        width: 30%;
        border-radius: 0.5rem;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

        &:hover{
        filter: brightness(1.15);
        transform: scale(1.03);
      }
      }

      .clients {
        position: absolute;
        bottom: 5%;

        // الاتجاه من اليمين (للغة العربية)
        [dir="rtl"] & {
          right: 0;
          left: auto;
        }

        // الاتجاه من اليسار (للغة الإنجليزية)
        [dir="ltr"] & {
          left: 0;
          right: auto;
        }

        .img-peoble {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
          .star {}
        }

      }
      @include mobile {
        display: none;
      }
    }

    .button-hero-section {
      display: flex;
      align-items: center;
      gap: 3rem;
      text-align: center;
      padding-top: 1rem;

      @include mobile {
        gap: 1rem;
        flex-direction: column-reverse;
      }

      .button-icon {
        display: flex ;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
        padding: 0.5rem;
        font-size: 1.1rem;
        font-weight: 600;
        border-radius: 0.5rem;
        background-color: #0A3D62;
        color: var(--text-color-light);

        @include mobile {
          gap: 0.2rem;
          font-size: 1rem;
          font-weight: 500;
        }

        h4 {
          display: inline;
        }
        .img-wrapper {
          padding: 0 0.3rem;
          background-color: rgba(216,216,216,0.58);
          border-radius: 0.8rem;
          display: inline-flex; /* علشان تفضل الصورة في النص */
          justify-content: center;
          align-items: center;
          img {
            width: 30px;
            height: 30px;
            [dir="rtl"] & {
            transform: rotate(180deg);
            }

            @include mobile {
              width: 22px;
              height: 22px;
            }
          }
        }
      }
    }
    .desc {
      width: 60%;
      font-size: 1.2rem;
      font-weight: 600;

      @include mobile {
        font-size: 1rem;
        font-weight: 500;
        width: 100%;
      }
    }
  }

  .hero-section_image {
    width: 35%;
    height: 600px; // أو أي قيمة تناسبك
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include mobile {
      width: 100%;
      height: 400px;
      margin-top: 0.5rem;
    }

    @include tablet {
      width: 100%;
      margin-top: 0.5rem;
    }

    .video-hero-section {
      width: 100%;
      height: 70%;
      border-radius: 1rem;
      object-fit: cover;

      @include tablet {
        height: 50%;
      }

    }
    .description {
      background-color: rgba(85, 83, 83, 0.06);
      padding: 1rem;
      border-radius: 1rem;
      border: 1px solid rgba(89, 87, 87, 0.38);

      h3{
        font-size: 1.1rem;
        font-weight: 600;

        @include mobile {
          font-weight: 500;
          font-size: 1rem;
        }
      }
      .happy-client {
        font-size: 1.1rem;
        font-weight: 600;
        display: flex;
        gap: 2rem;
        align-items: center;

        @include mobile {
          font-size: 1rem;
          font-weight: 500;
          gap: 1rem;
        }

        span {
          font-weight: bold;
          font-size: 1.3rem;
          color: #CD05FF;
          @include mobile {
            font-size: 1.1rem;
          }
        }
        p {
          font-size: 1rem;
          color: rgba(19, 19, 19, 0.74);
          @include mobile {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}


//Dark Mode
body.dark {
  .hero-section {
    .button-hero-section {
      .button-icon {
        background-color: #2C254A;
      .img-wrapper {
        background-color: #909090;
      }
      }
    }
    .hero-section_content .images-small img {
      box-shadow: 0 10px 25px rgba(172, 172, 172, 0.1);
    }
    .hero-section_image .description .happy-client p {
      color: #cccccc;
    }
  }
}